<% content_for :title, t("imports.new.title") %>

<section class="page-heading">
  <div>
    <p class="eyebrow"><%= t("imports.new.eyebrow") %></p>
    <h1><%= t("imports.new.title") %></h1>
  </div>
</section>

<div class="tool-panel wide">
  <%= render "shared/upload_form" %>
</div>
