<% content_for :title, t("jumps.index.title") %>

<section class="page-heading">
  <div>
    <p class="eyebrow"><%= t("jumps.index.eyebrow") %></p>
    <h1><%= t("jumps.index.title") %></h1>
  </div>
  <%= link_to t("nav.import"), new_flight_import_path, class: "primary-button" %>
</section>

<%= render "jumps/list", jumps: @jumps %>
