# Normalize EOL for all text files.
* text=auto eol=lf

# Rails generated and vendored files.
db/schema.rb linguist-generated
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
